<form method="post">
    <div>
        <label class="form-label">Category Name</label>
        <input name="categoryName" class="form-control" placeholder="name..."/>
    </div>
    <div class="my-2">
        <input type="submit" class="btn btn-success" value="Create Category" />
    </div>
</form>